*{
  box-sizing: border-box;
  margin: 0;
}
img{
  max-width: 75%;
  display: block;
  width: 75%;
}

body {
  background-color: darkseagreen;
  font-family: ariel, sans-serif;
  color:black;
}

.parent {
  position: relative;
}
.parent .box{
  position: absolute;
  width: calc(1.6vw + 10px); 
  height: calc(1.6vw + 10px);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0);
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}
.font{
  font-size: 8px;
}
.parent .box.snell{
  top: 60%;
  left: 53%;
}

.snell .tooltiptext{
  visibility: hidden;
  width: 400px;
  background-color: white;
  text-align: center;
  border-radius: 6px;
  border-style: solid;
  padding: 5px 0;

  position: absolute;
  z-index: 1;
  transform: translate(-50%, -100%);
  left: 50%;
  top: -5px;
}
.snell:hover .tooltiptext{
  transform: translate(-50%, -100%);
  left: 50%;
  top: -5px;
  visibility: visible;
}

.snellPin{
  display: none;
  height: 200px;
  width: 200px;
}

.parent .box.sc{
  top: 74%;
  right: 47%;
}

.sc .tooltiptext{
    visibility: hidden;
    width: 400px;
    background-color: white;
    text-align: center;
    border-radius: 6px;
    border-style: solid;
    padding: 5px 0;
  
    position: absolute;
    z-index: 1;
  }
  
  .sc:hover .tooltiptext{
    transform: translate(-50%, -100%);
    left: 50%;
    top: -5px;
    visibility: visible;
  }

  .scPin{
    display: none;
    height: 200px;
    width: 200px;
  }

  .parent .box.erc{
    top: 62.5%;
    left: 39.5%;
  }
.erc .tooltiptext{
    visibility: hidden;
    width: 400px;
    background-color: white;
    text-align: center;
    border-radius: 6px;
    border-style: solid;
    padding: 5px 0;
  
    position: absolute;
    z-index: 1;
  }
  
  .erc:hover .tooltiptext{
    transform: translate(-50%, -100%);
    left: 50%;
    top: -5px;
    visibility: visible;
  }

  .ercPin{
    display: none;
    height: 200px;
    width: 200px;
  }

.parent .box.st{
    top: 58%;
    left: 36.5%;
}
.st .tooltiptext{
    visibility: hidden;
    width: 400px;
    background-color: white;
    text-align: center;
    border-radius: 6px;
    border-style: solid;
    padding: 5px 0;
  
    position: absolute;
    z-index: 1;
  }

  .st:hover .tooltiptext{
    transform: translate(-50%, -100%);
    left: 50%;
    top: -5px;
    visibility: visible;
  }

  .stPin{
    display: none;
    height: 200px;
    width: 200px;
  }

  .parent .box.camp{
    top: 65%;
    left: 28%;
  }

.camp .tooltiptext{
    visibility: hidden;
    width: 400px;
    background-color: white;
    text-align: center;
    border-radius: 6px;
    border-style: solid;
    padding: 5px 0;
  
    position: absolute;
    z-index: 1;
  }
  
  .camp:hover .tooltiptext{
    transform: translate(-50%, -100%);
    left: 50%;
    top: -5px;
    visibility: visible;
  }

  .campPin{
    display: none;
    height: 200px;
    width: 200px;
  }

  .parent .box.rowley{
    top: 70%;
    left: 33%;
  }

.rowley .tooltiptext{
    visibility: hidden;
    width: 400px;
    background-color: white;
    text-align: center;
    border-radius: 6px;
    border-style: solid;
    padding: 5px 0;
  
    position: absolute;
    z-index: 1;
  }
  
  .rowley:hover .tooltiptext{
    transform: translate(-50%, -100%);
    left: 50%;
    top: -5px;
    visibility: visible;
  }

  .rowleyPin{
    display: none;
    height: 200px;
    width: 200px;
  }

  .parent .box.cheel{
    top: 40%;
    left: 19%;
  }

.cheel .tooltiptext{
    visibility: hidden;
    width: 400px;
    background-color: white;
    text-align: center;
    border-radius: 6px;
    border-style: solid;
    padding: 5px 0;
  
    position: absolute;
    z-index: 1;
  }
  
  .cheel:hover .tooltiptext{
    transform: translate(-50%, -100%);
    left: 50%;
    top: -5px;
    visibility: visible;
  }

  .cheelPin{
    display: none;
    height: 200px;
    width: 200px;
  }

  .parent .box.quad{
    top: 19%;
    left: 43%;
  }

.quad .tooltiptext{
  visibility: hidden;
  width: 400px;
  background-color: white;
  text-align: center;
  border-radius: 6px;
  border-style: solid;
  padding: 5px 0;

  position: absolute;
  z-index: 1;
  }
  
  .quad:hover .tooltiptext{
    transform: translate(-50%, -100%);
    left: 50%;
    top: -5px;
    visibility: visible;
  }

  .quadPin{
    display: none;
    height: 200px;
    width: 200px;
  }

  .parent .box.pit{
    top: 8%;
    left: 58%;
  }

.pit .tooltiptext{
    visibility: hidden;
    width: 400px;
    background-color: white;
    text-align: center;
    border-radius: 6px;
    border-style: solid;
    padding: 5px 0;
  
    position: absolute;
    z-index: 1;
  }
  
  .pit:hover .tooltiptext{
    left: 50%;
    top: 100%;
    visibility: visible;
  }

  .parent .box.moore{
    top: 45%;
    left: 48%;
  }

.moore .tooltiptext{
    visibility: hidden;
    width: 400px;
    background-color: white;
    text-align: center;
    border-radius: 6px;
    border-style: solid;
    padding: 5px 0;
  
    position: absolute;
    z-index: 1;
  }
  
  .moore:hover .tooltiptext{
    transform: translate(-50%, -100%);
    left: 50%;
    top: -5px;
    visibility: visible;
  }

  .parent .box.price{
    top: 42%;
    left: 31.5%;
  }

.price .tooltiptext{
    visibility: hidden;
    width: 400px;
    background-color: white;
    text-align: center;
    border-radius: 6px;
    border-style: solid;
    padding: 5px 0;
  
    position: absolute;
    z-index: 1;
  }
  
  .price:hover .tooltiptext{
    transform: translate(-50%, -100%);
    left: 50%;
    top: -5px;
    visibility: visible;
  }

  .parent .box.graham{
    top: 49%;
    left: 37.5%;
  }

  .pricePin{
    display: none;
    height: 200px;
    width: 200px;
  }

.graham .tooltiptext{
    visibility: hidden;
    width: 400px;
    background-color: white;
    text-align: center;
    border-radius: 6px;
    border-style: solid;
    padding: 5px 0;
  
    position: absolute;
    z-index: 1;
  }
  
  .graham:hover .tooltiptext{
    transform: translate(-50%, -100%);
    left: 50%;
    top: -5px;
    visibility: visible;
  }

  .parent .box.irc{
    top: 14%;
    left: 33%;
  }
.irc .tooltiptext{
    visibility: hidden;
    width: 400px;
    background-color: white;
    text-align: center;
    border-radius: 6px;
    border-style: solid;
    padding: 5px 0;
  
    position: absolute;
    z-index: 1;
  }
  
  .irc:hover .tooltiptext{
    left: 50%;
    top: 100%;
    visibility: visible;
  }

  .parent .box.holcroft{
    top: 5%;
    left: 46%;
  }
.holcroft .tooltiptext{
    visibility: hidden;
    width: 400px;
    background-color: white;
    text-align: center;
    border-radius: 6px;
    border-style: solid;
    padding: 5px 0;
  
    position: absolute;
    z-index: 1;
  }
  
  .holcroft:hover .tooltiptext{
    left: 50%;
    top: 100%;
    visibility: visible;
  }

  .parent .box.riverside{
    top: 55%;
    left: 73%;
  }

.riverside .tooltiptext{
    visibility: hidden;
    width: 400px;
    background-color: white;
    text-align: center;
    border-radius: 6px;
    border-style: solid;
    padding: 5px 0;
  
    position: absolute;
    z-index: 1;
  }
  
  .riverside:hover .tooltiptext{
    transform: translate(-50%, -100%);
    left: 50%;
    top: -5px;
    visibility: visible;
  }

  .parent .box.townhouse{
    top: 90%;
    left: 29%;
  }
.townhouse .tooltiptext{
    visibility: hidden;
    width: 400px;
    background-color: white;
    text-align: center;
    border-radius: 6px;
    border-style: solid;
    padding: 5px 0;
  
    position: absolute;
    z-index: 1;
  }
  
  .townhouse:hover .tooltiptext{
    transform: translate(-50%, -100%);
    left: 50%;
    top: -5px;
    visibility: visible;
  }

  .parent .box.woodstock{
    top: 90%;
    left: 45%;
  }

.woodstock .tooltiptext{
    visibility: hidden;
    width: 400px;
    background-color: white;
    text-align: center;
    border-radius: 6px;
    border-style: solid;
    padding: 5px 0;
  
    position: absolute;
    z-index: 1;
  }
  
  .woodstock:hover .tooltiptext{
    transform: translate(-50%, -100%);
    left: 50%;
    top: -5px;
    visibility: visible;
  }

  .parent .box.walker{
    top: 10%;
    left: 77%;
  }

.walker .tooltiptext{
    visibility: hidden;
    width: 400px;
    background-color: white;
    text-align: center;
    border-radius: 6px;
    border-style: solid;
    padding: 5px 0;
  
    position: absolute;
    z-index: 1;
  }
  
  .walker:hover .tooltiptext{
    right: 50%;
    top: 100%;
    visibility: visible;
  }
  
  button {
  background-color: #113a12; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.searchPopup {
  position: relative;
  text-align: center;
  width: 100%;
}

.formPopup {
  display: none;
  position: fixed;
  left: 7%;
  top: 35%;
  transform: translate(-50%, 5%);
  border: 5px solid #999999;
  z-index: 9;
}

.formContainer {
  max-width: 300px;
  padding: 25px;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #fff;
}

#pricePin{
  display: none;
}

#quadPin{
  display: none;
}

#cheelPin{
  display: none;
}

#rowleyPin{
  display: none;
}

#campPin{
  display: none;
}

#scPin{
  display: none;
}

#snellPin{
  display: none;
}