img {
    border: 5px solid #555;
}

body {
    background-color: darkseagreen;
    font-family: Arial, sans-serif;
    color: darkgreen;
}

* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.column {
    float: left;
    width: 50%;
    padding: 5px;
}

.column_1 {
    float: left;
    width: 10%;
    padding: 5px;
}

.column_2 {
    float: left;
    width: 85%;
    padding: 5px;
}

.Previous {
    font-size: 20px;
    background-color: #f1f1f1;
    color: black;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.center_1/*This is for floor view*/ {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 66%;
    padding: 5px;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: (43deg);
    -webkit-transform: rotate(43deg);
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.Back_to_Main {
    font-size: 24px;
}

h1 {
    text-align: center;
}
/*.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.Previous {
    font-size: 20px;
    background-color: #f1f1f1;
    color: black;
}

.Back_to_Main {
    font-size: 24px;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: (43deg);
    -webkit-transform: rotate(43deg);
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

h1 {
    text-align: center;
}*/
