*{
    box-sizing: border-box;
}

.column{
    float: left;
    width: 50%
}

.row::after{
    content:"";
    clear: both;
    display: table;
}

.Previous{
    font-size: 20px;
    background-color:#f1f1f1;
    color: black;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.Back_to_Main{
    font-size: 24px;
}

.arrow{
    border: solid black;
    border-width:0 3px 3px 0;
    display:inline-block;
    padding: 3px;
}

.down{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

h1{
    text-align: center;
}

.up{
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}