h1{
    text-align: center;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.Previous{
    font-size: 20px;
    background-color:#f1f1f1;
    color: black;
}
.Back_to_Main{
    font-size: 24px;
}
.arrow{
    border: solid black;
    border-width:0 8px 8px 0;
    width: 15px;
    height: 15px;
    display:inline-block;
    padding: 3px;
}
.up{
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}
.down{
    transform: (45deg);
    -webkit-transform: rotate(45deg);
}
.row::after{
    content:"";
    clear: both;
    display: table;
}
.column{
    float: left;
    width: 23%;
    padding: 10px;
}
.column_1{
    float: left;
    width: 10%;
}
.column_2{
    float: left;
    width: 85%;
}
.column_3{
    float: left;
    width: 15%;
    padding: 10px;
}
.searchPopup {
    position: relative;
    text-align: center;
    width: 100%;
}
.formPopup {
    display: none;
    position: fixed;
    left: 7%;
    top: 35%;
    transform: translate(-50%, 5%);
    border: 5px solid #999999;
    z-index: 9;
}
.formContainer {
    max-width: 300px;
    padding: 25px;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #fff;
}
.parent {
    position: relative;
  }
.parent .box{
    position: absolute;
    width: calc(1.6vw + 10px); 
    height: calc(1.6vw + 10px);
    background-color: rgba(238, 75, 43, 1);
    display: -webkit-box;
    height: 5px;
    width: 5px;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
  }
